#main_menu_area ul {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
#main_menu_area ul li {
  display: inline-block;
  position: relative;
}
#main_menu_area ul li a span {
  display: block;
  font-size: 13px;
}
#main_menu_area ul li a {
  color: #262626;
  padding: 20px 10px;
  font-size: 16px;
  display: block;
  text-decoration: none;
}
#main_menu_area ul li a:hover {
  background: #ea1a70;
  color: #fff;
}

/*Dropdown Menu*/
#main_menu_area ul li ul {
  background: #262626 none repeat scroll 0 0;
  left: -99999px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 62px;
  width: 200px;
  z-index: 99999;
}
#main_menu_area ul li:hover ul {
  left: 0px;
}
#main_menu_area ul li ul li {
  display: block;
}
#main_menu_area ul li ul li a {
  color: #fff;
  padding: 8px 10px;
}
#main_menu_area ul li ul li a:hover {
  background: #ddd;
  color: #262626;
}
#main_menu_area ul li:hover a {
  background: #ea1a70;
  color: #fff;
}
#main_menu_area ul li:hover ul li a {
  background: none;
  color: #fff;
}

/*Sub Dropdown Menu*/
#main_menu_area ul li ul ul {
  left: -99999px;
  top: 0;
  position: absolute;
}
#main_menu_area ul li:hover ul li ul {
  left: -999999px;
}
#main_menu_area ul li ul li:hover ul {
  left: 200px;
}
#main_menu_area ul li ul li:hover a {
  background: #ea1a70;
  color: #fff;
}
#main_menu_area ul ul li:hover ul li a {
  background: #262626;
  color: #fff;
}
#main_menu_area ul ul li ul li a:hover {
  background: #ea1a70;
  color: #fff;
}


/*===========================================
  Comment Area Styling
===========================================*/
#comments_area h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}
#comments_area label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}
#comments_area input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
#comments_area textarea,
#comments_area input {
  border: 1px solid #ddd;
  width: 100%;
  padding: 15px;
}
#comments_area textarea {
  min-height: 150px;
}
/* ==========================================================================
   Comments Area
========================================================================== */
.comments-area {
  background: #fff none repeat scroll 0 0;
  clear: both;
  margin: 20px auto 0;
  padding: 20px;
  position: relative;
  width: 100%;
}
.comments-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.comment-list,
.comment-list .children {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list li:before {
  display: none;
}
.comment-body {
  margin-bottom: 20px;
  margin-left: 65px;
}
.comment-author {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
}
.comment-author a {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
}
.comment-author .avatar {
  height: 50px;
  left: -65px;
  position: absolute;
  width: 50px;
}
.comment-author .says {
  display: none;
}
.comment-meta {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}
.comment-metadata {
  color: #767676;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  text-transform: uppercase;
}
.comment-metadata a {
  color: #767676;
}
.comment-metadata a.comment-edit-link {
  color: #222;
  margin-left: 1em;
}
.comment-body {
  color: #333;
  font-size: 14px;
}
.comment-reply-link {
  font-weight: 800;
  position: relative;
}
.comment-reply-link .icon {
  color: #222;
  left: -2em;
  height: 1em;
  position: absolute;
  top: 0;
  width: 1em;
}
.children .comment-author .avatar {
  height: 30px;
  left: -45px;
  width: 30px;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 1px solid #333;
  padding: 2px;
}
.no-comments,
.comment-awaiting-moderation {
  color: #767676;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
}
.comments-pagination {
  margin: 2em 0 3em;
}
.form-submit {
  text-align: left;
}
.form-submit #submit {
  width: auto;
}
.comment-form #wp-comment-cookies-consent {
  margin: 0 10px 0 0;
}
.comment-form .comment-form-cookies-consent label {
  display: inline;
}

.animation_duration_3s{
    animation-duration: 3s !important;
}


.cxc-multi-upload-medias ul li .delete-img { position: absolute; right: 3px; top: 2px; background: aliceblue; border-radius: 50%; cursor: pointer; font-size: 14px; line-height: 20px; color: red; }
.cxc-multi-upload-medias ul li { width: 120px; display: inline-block; vertical-align: middle; margin: 5px; position: relative; }
.cxc-multi-upload-medias ul li img { width: 100%; }